<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.cloud.model.mapper.analysis.AchievementMapper">
    <resultMap id="BaseResultMap" type="com.mall.cloud.model.entity.analysis.Achievement">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="alipay_id" jdbcType="VARCHAR" property="alipayId"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="flag" jdbcType="VARCHAR" property="flag"/>

    </resultMap>
</mapper>